.ul {
  list-style: none;
  background: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}
.ul li {
  display: inline-block;
  position: relative;
}
.ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.ul li ul.dropdown li {
  display: block;
  background: #333;
}
.ul li ul.dropdown {
  width: auto;
  position: absolute;
  padding: 0;
  /* to overrirde default padding and margin */
  z-index: 999;
  /* z-index is required if there is any other element which is z>0 */
  display: none;
}
.ul li a:hover {
  background: #222;
}
.ul li:hover ul.dropdown {
  display: block;
}
