<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>Star rating 2 using plain JS & CSS</h2>
    <div id="container2" class="container2">
      <!-- {/* writing in reverse order as we will reverse it againa */} -->
      <span tabindex="0" class="star" data-rating="5"> &#9733; </span>
      <span tabindex="0" class="star" data-rating="4"> &#9733; </span>
      <span tabindex="0" class="star" data-rating="3"> &#9733; </span>
      <span tabindex="0" class="star" data-rating="2"> &#9733; </span>
      <span tabindex="0" class="star" data-rating="1"> &#9733; </span>
    </div>
    <!-- add this script tag here so that it executed after all dom nodes are created  -->
    <!-- deferred loading /  deferred script execution -->
    <script src="index.js"></script>
  </body>
</html>
